<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#252e39"
    },
    "button": {
      "background": "#14a7d0"
    }
  },
  "theme": "classic",
  "type": "opt-in",
  "content": {
    "message": "Deze website gebruikt cookies om het gebruik te analyseren en de gebruikerservaring te verbeteren.",
    "dismiss": "Begrepen",
    "allow": "Cookies toestaan",
    "deny": "Weigeren",
    "link": "Meer info",
    "href": "/privacy/" // BELANGRIJK: Maak een privacy-pagina aan en link hier correct!
  },
  onStatusChange: function(status, chosenBefore) {
    var type = this.options.type;
    var didConsent = this.hasConsented();
    if (type == 'opt-in' && didConsent) {
      // Gebruiker heeft toestemming gegeven, activeer de analytics scripts
      activateScripts();
    }
  }
});

function activateScripts() {
    // Zoek alle 'geparkeerde' scripts en activeer ze
    var scripts = document.querySelectorAll("script[type='text/plain'][data-cookiecategory='analytics']");
    scripts.forEach(function(oldScript) {
        var newScript = document.createElement("script");
        // Kopieer alle attributen, behalve 'type' en 'data-cookiecategory'
        Array.from(oldScript.attributes).forEach(attr => {
            if (attr.name !== 'type' && attr.name !== 'data-cookiecategory') {
                newScript.setAttribute(attr.name, attr.value);
            }
        });
        newScript.setAttribute("type", "text/javascript");
        newScript.innerHTML = oldScript.innerHTML;
        oldScript.parentNode.replaceChild(newScript, oldScript);
    });
}

// Als de gebruiker in een vorig bezoek al toestemming heeft gegeven, activeer de scripts dan direct.
if (document.cookie.indexOf('cookieconsent_status=allow') > -1) {
    activateScripts();
}

});
</script>
