{% assign type = include.type | default: "list" %}

<div class="{{ type }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    {% if post.header.teaser %}
      <div class="archive__item-teaser">
        <a href="{{ post.url | relative_url }}" rel="permalink">
          <img src="{{ post.header.teaser | relative_url }}" alt="">
        </a>
      </div>
    {% endif %}
    <h2 class="archive__item-title no_toc" itemprop="headline">
      <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
    </h2>
    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>
    {% endif %}
  </article>
</div>
