{%- assign post = include.post | default: post -%}
{%- assign type = include.type | default: "list" -%}

{% if type == "grid" %}
  {% comment %} Jouw werkende code voor de homepage. Deze blijft ongewijzigd. {% endcomment %}
  <div class="archive__item">
    <article class="archive__item-inner" itemscope itemtype="https://schema.org/CreativeWork">
      {%- if post.header.teaser -%}
        <div class="archive__item-teaser">
          <img src="{{ post.header.teaser | relative_url }}" alt="">
        </div>
      {%- endif -%}
      <h2 class="archive__item-title no_toc" itemprop="headline">
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.pagetitle | default: post.title }}</a>
      </h2>
      {%- if post.excerpt -%}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{%- endif -%}
    </article>
  </div>

{% else %}
  {% comment %} De gecorrigeerde en schone code voor de blogpagina. {% endcomment %}
  <div class="list__item">
    <article class="archive__item archive__item--list" itemscope itemtype="https://schema.org/CreativeWork">
      {%- if post.header.teaser -%}
        <div class="archive__item-teaser">
          <a href="{{ post.url | relative_url }}" rel="permalink">
            <img src="{{ post.header.teaser | relative_url }}" alt="">
          </a>
        </div>
      {%- endif -%}
      
      <div class="archive__item-body">
        <h2 class="archive__item-title no_toc" itemprop="headline">
          <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.pagetitle | default: post.title }}</a>
        </h2>
        {%- if post.excerpt -%}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{%- endif -%}
      </div>

    </article>
  </div>
{% endif %}
