<script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>

{% if site.search == true %}
  <script src="https://cdn.jsdelivr.net/npm/lunr/lunr.min.js"></script>
  <script src="{{ '/assets/js/lunr/lunr-store.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/lunr/lunr-en.js' | relative_url }}"></script>
{% endif %}

{%- if page.mermaid -%}
  <script src="https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      mermaid.initialize({ startOnLoad: true });
    });
  </script>
{%- endif -%}

{% include_cached analytics.html %}
{% include_cached /comments-providers/scripts.html %}
