<script src="{{ '/assets/js/main.min.js' | relative_url }}" defer></script>

{% if site.search == true %}
  <script src="https://cdn.jsdelivr.net/npm/lunr/lunr.min.js" defer></script>
  <script src="{{ '/assets/js/lunr/lunr-store.js' | relative_url }}" defer></script>
  <script src="{{ '/assets/js/lunr/lunr-en.js' | relative_url }}" defer></script>
{% endif %}

{%- if page.mermaid -%}
  <script src="https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.min.js" defer></script>
  
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // Voorkom dat Mermaid automatisch start
      mermaid.initialize({ startOnLoad: false });

      // Zoek alle codeblokken die voor Mermaid bedoeld zijn
      const mermaidBlocks = document.querySelectorAll('code.language-mermaid');
      
      mermaidBlocks.forEach((block, index) => {
        // Maak een unieke ID voor elk diagram
        const id = `mermaid-diagram-${index}`;
        const source = block.innerText;

        // Maak een nieuw div-element aan waar het diagram in komt
        const newDiv = document.createElement('div');
        newDiv.className = 'mermaid';
        newDiv.setAttribute('id', id);
        newDiv.innerHTML = source;

        // Vervang het oude codeblok door het nieuwe div-element
        const pre = block.parentElement;
        pre.parentNode.replaceChild(newDiv, pre);
      });

      // Voer Mermaid uit op alle nieuwe div-elementen
      mermaid.run({
        nodes: document.querySelectorAll('.mermaid')
      });
    });
  </script>
{%- endif -%}

{% include_cached analytics.html %}
{% include_cached /comments-providers/scripts.html %}