---
---
<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}

    {% comment %} --- Logica voor Onderhoudsmodus --- {% endcomment %}
    {% if site.maintenance_mode == true and page.permalink != '/onderhoud/' %}
      <meta http-equiv="refresh" content="0; url={{ '/onderhoud/' | relative_url }}">
      <link rel="canonical" href="{{ '/onderhoud/' | relative_url }}" />
    {% endif %}
    {% comment %} --- Einde Logica --- {% endcomment %}

  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}" dir="{{ direction }}">

    {% include_cached skip-links.html %}

    <div class="masthead">
      <div class="masthead__inner-wrap">
        <div class="masthead__menu">
          <nav id="site-nav" class="greedy-nav">
            {%- unless logo_path -%}
              <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
            {%- endunless -%}
            <ul class="visible-links">
              {%- for link in site.data.navigation.main -%}
                <li class="masthead__menu-item">
                  <a href="{{ link.url | relative_url }}" {% if link.description %}title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
                </li>
              {%- endfor -%}
            </ul>
            {%- if site.search == true -%}
              <button class="search__toggle" type="button">
                <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
                <i class="fas fa-search"></i>
              </button>
            {%- endif -%}
            <button class="greedy-nav__toggle hidden" type="button">
              <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle Menu" }}</span>
              <div class="navicon"></div>
            </button>
            <ul class="hidden-links hidden"></ul>
          </nav>
        </div>
      </div>
    </div>

    <div class="initial-content">
      {{ content }}
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include search/search_form.html %}
      </div>
    {% endif %}

    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
